body {
    background: linear-gradient(90deg, #d9c7fcf1, #2ebfb8);
}

h1 {
    color: blue;
}

p {
    color: green;
}

.ma-classe {
    color: #663399;
}

#grand-texte {
    font-size: 70px;
    color: white;
    background-color: black;
}

.elem1 {
    font-size: 1em;
    font-weight: bold;
}

.elem2 {
    font-size: 1.3em;
    text-align: center;
}

.elem3 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.element_ {
    font-size: 25px;
    background-color: skyblue;
    color: #663399;
    border-top: 3px #EB5353 dotted;
    border-right: 3px #F9D923 double;
    border-bottom: 3px #36AE7C dashed;
    border-left: 3px #187498 solid;

    border-radius: 10px 30px 0px 90px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);

    padding: 100px;
}

.element_2 {
    font-size: 25px;
    background-color: skyblue;
    border-radius: 30% 70% 70% 30% / 30% 58% 42% 70%;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    padding: 100px;
}

.mon-element:hover {
    background-color: #BEAEE2;
    color: white;

    h1:hover {
        color: #CDF0EA;
    }

    p:hover {
        color: #F9CEEE;
    }
}